spring:
  application:
    name: gateway-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  config:
    import: "optional:configserver:${SPRING_CLOUD_CONFIG_URI:http://config-service:8888}"
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI:http://config-service:8888}
    gateway:
      server:
        webflux:
          routes:
            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/orders/**
            - id: order-service-docs
              uri: lb://order-service
              predicates:
                - Path=/order-manager/**
              filters:
                - StripPrefix=1
            - id: show-manager
              uri: lb://show-manager
              predicates:
                - Path=/api/shows/**
            - id: show-manager-docs
              uri: lb://show-manager
              predicates:
                - Path=/show-manager/**
              filters:
                - StripPrefix=1
            - id: theatre-manager
              uri: lb://theatre-manager
              predicates:
                - Path=/api/theatres/**,/api/halls/**
            - id: theatre-manager-docs
              uri: lb://theatre-manager
              predicates:
                - Path=/theatre-manager/**
              filters:
                - StripPrefix=1

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: order-service
        url: /order-manager/v3/api-docs
      - name: show-manager
        url: /show-manager/v3/api-docs
      - name: theatre-manager
        url: /theatre-manager/v3/api-docs

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://discovery-service:8761/eureka}
